#react app ?
semantic/


#gradle
.gradle/
build/
Gradle__*.xml


#intellij
out/
workspace.xml
**/.idea/WFDiagnosticsSettings.xml
**/.idea/WFPortalNameSettings.xml
**/.idea/wf_run_local_options.xml

#npm
node_modules/*.orig
**/*.orig
