.App {

    display: grid;
    /*grid-gap: 0;*/
    grid-column-gap: 0.5vh;
    grid-row-gap: 0.5vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: #fff;
    color: #444;

    /*fil all https://stackoverflow.com/questions/43747185/force-css-grid-container-to-fill-full-screen-of-device*/

    /*This include gap above !!!*/
    width: 99.5vw;
    height: 99vh;
}

.Remote, .Local, .Terminal {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.Local.Current {
    background-color: green;
}


/* https://jsfiddle.net/nsrfpkb2/8/ */
.HistoryImage img {
    display: block;
    max-width: 100%;
    height: auto;
}


